<div class='device-container' *ngIf="device">

  <div class="header">
    <div class="lines">
      <h3>{{ device.manufacturer }} - {{ device.model }}</h3>
      <p class="uuid">{{ device.deviceUUID }}</p>
    </div>
    <img src="assets/images/dots/black/more.png" class="more" alt="more" />
  </div>

  <!-- <ion-popover mode="ios" [isOpen]="true">
    <ng-template>
      <ion-content>{{'device.edit'|translate}}</ion-content>
      <ion-content>{{'device.delete'|translate}}</ion-content>
    </ng-template>
  </ion-popover> -->

  <hr>
  <div class="footer">
    <p class="created-at">{{ created_at }}</p>
    <div class="platform">
      {{ device.platformDevice }}
    </div>
  </div>
</div>